@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome 👋</h1>
    <p><b>Explore Egypt Admin Dashboard</b>.</p>
</div>
<div class="button-container">
    <a class="user-button m-5" asp-controller="User" asp-action="Index">
        Users
        <img src="man.png" alt="User Profile Icon">
    </a>
    <a class="user-button m-5" asp-controller="Landmark" asp-action="Index">
        Landmarks
        <img src="pyramid.png" alt="Landmark Icon">
    </a>
</div>
   

